body {
	background-color: #F0F8FF;
	box-sizing: border-box;
}

aside {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 2rem;
}

aside h1 {
	font-size: 2rem;
}

table {
	border-collapse: collapse;
	font-size: 1.2rem;

	width: 100%;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

thead .row {
	font-size: 1.5rem;

	background-color: #008080;
	color: #F5F5F5;
}

tbody .row:nth-child(odd) {
	background-color: #B0E0E6;
}

tbody .row:nth-child(even) {
	background-color: #E0FFFF;
}

.column {
	width: 100%;
	padding: 0.5rem 1rem;
	text-align: center;
}

@media only screen and (min-width: 750px) {
	table {
		font-size: 1.5rem;
	}

	thead .row {
		font-size: 2rem;
	}
}
