{% extends 'base-root-pages.html' %}
{% block link %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page-view-words.css') }}">
{% endblock %}
{% block title %}View words{% endblock %}
{% block content %}
	<aside>
		<h1>Words of database</h1>
	</aside>
	<main class="container">
		<table>
			<thead>
				<tr class="row">
					<th class="column">words</th>
					<th class="column">category</th>
				</tr>
			</thead>
			<tbody>
				{% for word in words %}
					<tr class="row">
						<td class="column">{{ word[0] }}</td>
						<td class="column">{{ word[1] }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}